.titleContainer {
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    padding: 20px;
    background-color: #ff8cec8a;
    border-bottom: 1px solid hsl(0, 0%, 87%);
    width: 100vw;
}
.Title{
    font-family: cursive;
    font-size: 131%;
}


/* Media Query for Small Screens */
@media (max-width: 600px) {
    .titleContainer {
        justify-content: center;
        align-items: center;
        margin-bottom: 3rem;
        padding: 20px;
        /* background-color: #ff8cec8a; */
        border-bottom: 1px solid hsl(0, 0%, 87%);
        width: 100vw;
    }
    .Title{
        font-family: cursive;
        font-size: 131%;
    }
}
